%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
[{boss, [
    {path, "./deps/boss/"},
    {applications, [vocabio]},
    %%{db_host, "localhost"},
    %%{db_port, 3306},
    %%{db_username, "vocabio"},
    %%{db_password, "password"},
    %%{db_database, "vocabio"},
    %%{db_adapter, mysql},
    {db_adapter, mock},
    {log_dir, "log"},
    {server, mochiweb},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ vocabio, [
    {path, "../vocabio"},
    {base_url, "/"},
    {vocabio_url, "http://localhost:8001/"}
]}
].
