%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{plugin_dir, ["priv/rebar"]}.
{plugins, [boss_plugin]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{deps,
 [{openid, ".*",
   {git, "https://github.com/jbothma/erl_openid.git", "ae78c0b1233"}},
  {ux, ".*",
   {git, "https://github.com/jbothma/ux.git", "dea9eb50bc177074afa47464a83467d751b30344"}},
  {meck, ".*",
   {git, "https://github.com/jbothma/meck.git", {tag, "0.7.2"}}},
  {boss, ".*",
   {git, "https://github.com/jbothma/ChicagoBoss.git", "c178d2ccdebd53f8bf901b041bf5040b5b109ce6"}}
 ]}.
