{% autoescape on %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% if user %}
      <a href="/user/signout">Sign out</a>
    {% else %}
      <a href="/user/signin">Sign in</a> with your Google account.
      Not registered yet?
      <a href="/user/signup">Sign up</a> with your Google account.
    {% endif %}
    <h2>Hello{% if user %}, {{ user.display_name }}{% endif %}!</h2>
    <div id="flash">
    {% if boss_flash %}
      {% for flash in boss_flash %}
        {{ flash.method }} - {{ flash.title }} - {{ flash.message }}
      {% endfor %}
    {% endif %}
    </div>
    <h1>{% block title %}{% endblock %}</h1>
    {% block body %}
    {% endblock %}
  </body>
</html>
{% endautoescape %}
