{% extends "base.html" %}

  {% block title %}{% if user %}Word list{% else %}Sign in{% endif %}{% endblock %}
  {% block body %}
    {% if user %}
    <form method="post">
      New word:
      <input type="text" name="new_word" autofocus="autofocus"/>
      <input type="submit" />
    </form>
    <table>
      <tr><td>Word</td></tr>
    {% for word in words %}
      <tr><td>{{ word.word }}</td></tr>
    {% endfor %}
    </table>
    {% else %}
    <p><a href="/user/signin">Sign in</a> with your Google account.</p>
    <p>Not registered yet?
       <a href="/user/signup">Sign up</a> with your Google account.</p>
    {% endif %}
  {% endblock %}
